.autocomplete-group {
    position: relative;
    .list-group {
        position: absolute;
        top: calc(100% + 1px);
        width: 100%;
        z-index: 2000;
        .list-group-item {
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}
